.case-preview__wrapper {
  padding: 40px;
  padding-bottom: 20px;
  border-radius: 48px;
  background-color: var(--black-2);
  width: 100%;
  max-width: 1096px;
  margin: 0 auto;
}

.case-preview__title {
  font-family: "VK Sans Display Expanded";
  text-align: center;
  margin-bottom: 40px;
}

.case-preview__subtitle {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.case-preview__bottom-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
}

.case-preview__bottom-btn svg {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.case-preview__card {
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 477px;
  z-index: 1;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.case-preview__desc {
  margin-top: auto;
  width: 100%;
  max-width: 410px;
}

.case-preview__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.case-preview__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.case-preview__btn {
  margin-top: 30px;
}

.case-preview__bottom-body {
  overflow: hidden;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.case-preview__bottom-body::before {
  display: block;
  content: "";
  height: 24px;
}

.case-preview__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.case-preview__list-item {
  padding: 20px;
  padding-right: 76px;
  border-radius: 20px;
  background-color: #363738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  position: relative;
}

.case-preview__list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 7px;
  right: 6px;
  z-index: 1;
}

.case-preview__list-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.case-preview__list-icon::after {
  display: block;
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  top: -8px;
  right: -6.5px;
  background-color: var(--black-2);
  z-index: -1;
  -webkit-mask-image: url("/public/img/case-preview/mask.svg");
          mask-image: url("/public/img/case-preview/mask.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: top right;
          mask-position: top right;
}

.case-preview__text {
  margin-top: 20px;
}

.case-preview__bottom_active .case-preview__bottom-btn svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .case-preview__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .case-preview__card {
    height: 525px;
  }
}

@media screen and (max-width: 570px) {
  .case-preview__wrapper {
    width: auto;
    margin: 0 -24px;
    padding: 40px 24px 24px;
    border-radius: 40px;
  }
  .case-preview__subtitle {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
  }
  .case-preview__bottom-body::before {
    height: 30px;
  }
  .case-preview__list {
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .case-preview__text {
    margin-top: 30px;
    font-size: 20px;
  }
  .case-preview__btn {
    margin-top: 30px;
  }
  .case-preview__list-num {
    font-size: 22px;
  }
  .case-preview__list-label {
    font-size: 16px;
  }
  .case-preview__list-item {
    gap: 5px;
  }
  .case-preview__list-icon {
    width: 30px;
    height: 30px;
  }
  .case-preview__list-icon::after {
    width: 55px;
    height: 55px;
  }
  .case-preview__card {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }
}
