.review__title {
  margin-bottom: 72px;
  text-align: center;
  font-family: "VK Sans Display Expanded";
}

.review__slide {
  padding: 40px;
  border-radius: 48px;
  background-color: var(--black-2);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__slide-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: auto;
}

.review__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 154px;
  width: 154px;
  height: 154px;
  overflow: hidden;
  border-radius: 50%;
}

.review__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.review__name {
  margin-bottom: 30px;
}

.review__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 28px;
  border-radius: 100px;
  background-color: var(--blue-1);
  color: var(--black);
  white-space: nowrap;
}

.review__tag_border {
  background-color: var(--black-2);
  border: 2px solid var(--blue-1);
  color: var(--blue-1);
}

.review__text {
  margin-top: 48px;
}

.review__slider {
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .review__slide-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0;
  }
  .review__tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 570px) {
  .review__slider {
    margin: 0 -24px;
    width: auto;
  }
  .review__slide {
    padding: 40px 24px;
    border-radius: 40px;
  }
  .review__slide-top {
    gap: 20px;
  }
  .review__name {
    font-size: 28px;
    margin-bottom: 14px;
    min-height: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .review__tags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 14px;
    min-height: 90px;
  }
  .review__tag {
    font-size: 22px;
    line-height: 100%;
    padding: 7px 18px;
  }
  .review__text {
    margin-top: 84px;
    font-size: 18px;
    line-height: 120%;
  }
  .review__pagination {
    position: absolute;
    top: 425px !important;
    bottom: unset !important;
    left: 50% !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
    margin: 0;
  }
}
