.vertical-slider {
	&__title {
		width: 100%;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	&__slider {
		position: relative;
		overflow: visible;
		z-index: 1;
	}

	&__pagination {
		display: none;
	}

	&__img {
		display: flex;
		width: 100%;
		height: 100%;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}
	&__body {
		height: auto;
		display: flex;
		flex-direction: column;
		padding: 32px;
	}
	&__body-btn {
		margin-top: 32px;
	}
	&__body-desc {
		margin-top: 30px;
		width: 100%;
		max-width: 360px;
	}
	&__body-title {
		width: 100%;
		max-width: 310px;
	}
	&__body-bottom {
		margin-top: auto;
	}
}

// min
@media screen and (min-width: 700px) {
	.vertical-slider {
		&__slide {
			display: grid;
			grid-template-columns: 648fr 424fr;
			gap: 24px;

			&:not(:first-child) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				pointer-events: none;
			}
		}
		&__title {
			position: relative;
			z-index: 2;
			&::after {
				display: block;
				content: "";
				width: 100vw;
				height: calc(100% + 96px + 100px);
				position: absolute;
				top: -100px;
				left: 50%;
				transform: translateX(-50%);
				background: linear-gradient(rgb(0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
				z-index: -1;
			}
		}
	}
}

// max
@media screen and (max-width: 1024px) {
	.vertical-slider {
		&__slide {
			grid-template-columns: 1fr 1fr;
		}
		&__img {
			& img {
				object-position: top left;
			}
		}
		&__body-desc {
			font-size: 17px;
		}
	}
}

@media screen and (max-width: 768px) {
	.vertical-slider {
		&__body-title {
			font-size: 28px;
		}
	}
}

@media screen and (max-width: 700px) {
	.vertical-slider {
		&__body {
			flex-grow: 1;
		}
		&__body-title {
			margin-bottom: 95px;
		}
		&__slide {
			height: auto;
			display: flex;
			flex-direction: column;
		}
		&__pagination {
			display: flex;
			margin-top: 40px;
		}
		&__body-btn {
			width: 100%;
			margin-top: 24px;
		}
		&__img {
			width: 100%;
			height: auto;
			aspect-ratio: 0.97;
		}
	}
}
