.vertical-slider__title {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-slider__slider {
  position: relative;
  overflow: visible;
  z-index: 1;
  width: 100%;
  max-width: 1096px;
  margin: 0 auto;
}

.vertical-slider__pagination {
  display: none;
}

.vertical-slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vertical-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.vertical-slider__body {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px;
  background-color: var(--black-2);
}

.vertical-slider__body-btn {
  margin-top: 32px;
}

.vertical-slider__body-desc {
  margin-top: 30px;
  width: 100%;
  max-width: 360px;
}

.vertical-slider__body-title {
  width: 100%;
  max-width: 310px;
}

.vertical-slider__body-bottom {
  margin-top: auto;
}

@media screen and (min-width: 700px) {
  .vertical-slider__slide {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 648fr 424fr;
        grid-template-columns: 648fr 424fr;
    gap: 24px;
  }
  .vertical-slider__slide:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .vertical-slider__title {
    position: relative;
    z-index: 2;
  }
  .vertical-slider__title::after {
    display: block;
    content: "";
    width: 100vw;
    height: calc(100% + 96px + 100px);
    position: absolute;
    top: -100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, black), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(black 70%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
  }
  .vertical-slider__slider {
    min-height: 384px;
  }
}

@media screen and (max-width: 1024px) {
  .vertical-slider__slide {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .vertical-slider__img img {
    -o-object-position: top left;
       object-position: top left;
  }
  .vertical-slider__body-desc {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .vertical-slider__body-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 700px) {
  .vertical-slider__body {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .vertical-slider__slide {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vertical-slider__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
  }
  .vertical-slider__body-btn {
    margin-top: 24px;
  }
  .vertical-slider__img {
    width: 100%;
    height: auto;
    aspect-ratio: 0.97;
  }
}
