.entrance-video__title {
  font-family: "VK Sans Display Condensed";
  font-size: 80px;
  line-height: 110%;
  font-weight: 600;
  text-transform: uppercase;
}

.entrance-video__wrapper {
  padding: 92px 0;
  position: relative;
  z-index: 1;
}

.entrance-video__desc {
  margin-top: 20px;
  width: 100%;
  max-width: 385px;
}

.entrance-video__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 660px;
}

.entrance-video__bottom {
  margin-top: 55px;
}

.entrance-video__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: auto;
  height: calc(100% + 200px);
  top: -140px;
  right: calc((100vw - 1440px + 120px) / -2);
  z-index: -1;
}

.entrance-video__media video {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}

.entrance-video__btn {
  width: 100%;
  max-width: 350px;
}

@media screen and (max-width: 1440px) {
  .entrance-video__media {
    right: -60px;
  }
}

@media screen and (max-width: 1300px) {
  .entrance-video__title {
    font-size: 60px;
    line-height: 110%;
    max-width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .entrance-video__media {
    position: static;
    margin: -68% -60px -90px;
    width: calc(100% + 120px);
    height: auto;
  }
  .entrance-video__media video {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center bottom;
       object-position: center bottom;
  }
  .entrance-video__body {
    max-width: none;
  }
  .entrance-video__desc {
    margin-top: 19px;
  }
  .entrance-video__wrapper {
    padding: 0;
  }
  .entrance-video__bottom {
    margin: 0;
  }
  .entrance-video__btn {
    background: #12121291;
  }
}

@media screen and (max-width: 570px) {
  .entrance-video {
    overflow: hidden;
    padding: 25px 0;
  }
  .entrance-video__title {
    font-size: 40px;
    line-height: 110%;
  }
  .entrance-video__desc {
    font-size: 16px;
    line-height: 120%;
    max-width: 203px;
    margin-top: 8px;
  }
  .entrance-video__btn {
    width: 100%;
    max-width: none;
  }
  .entrance-video__media {
    margin: -71% -24px -90px;
    width: auto;
  }
}
