.timer__wrapper {
  border-radius: 48px;
  background: var(--black-2);
  padding: 40px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.timer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer__info {
  width: 100%;
  max-width: 565px;
}

.timer__title {
  font-family: "VK Sans Display Expanded";
}

.timer__desc {
  margin-top: 30px;
  width: 100%;
  max-width: 497px;
}

.timer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin: 0 auto;
  margin-top: 28px;
  font-family: "VK Sans Display Expanded";
}

.timer__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 496px;
  margin-top: -40px;
  margin-right: -40px;
}

.timer__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.timer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.timer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 6px;
}

.timer__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.timer__count-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 56px;
  width: 56px;
  height: 64px;
  border-radius: 9px;
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: "VK Sans Display Expanded";
  font-size: 54px;
  font-weight: 600;
  line-height: 120%;
  -webkit-perspective: 200px;
          perspective: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.timer__count-top {
  height: 50%;
  width: 100%;
  position: relative;
  z-index: 10;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.timer__count-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  overflow: hidden;
  background: #2f2f2f;
  border-radius: 9px 9px 0 0;
}

.timer__count-back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background: #3d3d3d;
  -webkit-transform: rotateY(180deg) rotate(180deg);
          transform: rotateY(180deg) rotate(180deg);
  border-radius: 0 0 9px 9px;
}

.timer__count-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.timer__count-current {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  overflow: hidden;
  background: #3d3d3d;
  border-radius: 0 0 9px 9px;
  z-index: 1;
}

.timer__count-next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  overflow: hidden;
  border-radius: 9px 9px 0 0;
  background: #2f2f2f;
  z-index: 1;
}

.timer__flip {
  -webkit-animation: flip 1s;
          animation: flip 1s;
}

@-webkit-keyframes flip {
  50%,
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  80% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotateX(-170deg);
            transform: rotateX(-170deg);
  }
}

@keyframes flip {
  50%,
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  80% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: rotateX(-170deg);
            transform: rotateX(-170deg);
  }
}

@media screen and (max-width: 1024px) {
  .timer__wrapper {
    position: relative;
    padding-bottom: 560px;
  }
  .timer__img {
    position: absolute;
    bottom: 30px;
    right: 0;
    width: 95%;
    margin: 0;
  }
  .timer__info {
    max-width: none;
  }
  .timer__desc {
    max-width: none;
  }
  .timer__title {
    text-align: center;
  }
  .timer__bottom {
    margin-top: 40px;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .timer__count-num {
    font-size: 29px;
    min-width: 30px;
    width: 30px;
    height: 35px;
  }
  .timer__count-num::before {
    border-radius: 5px 5px 0 0;
  }
  .timer__count-num::after {
    border-radius: 0 0 5px 5px;
  }
  .timer__label {
    font-size: 20px;
  }
}

@media screen and (max-width: 570px) {
  .timer__wrapper {
    width: auto;
    border-radius: 40px;
    padding: 24px;
    margin: 0 -24px;
    padding-bottom: 110vw;
  }
}
