.advantages {
	&__title {
		margin-bottom: 72px;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 24px;
	}
	&__item {
		display: flex;
		width: 100%;
		min-height: 265px;
		flex-direction: column;
		gap: 24px;
		padding: 24px 32px;
		background-color: var(--black-2);
	}
	&__desc {
		margin-top: auto;
		& a {
			text-decoration: underline;
		}
	}
	&__num {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	&__num-count {
		position: relative;
		overflow: hidden;
		&::after {
			display: block;
			content: attr(data-num);
			position: absolute;
			top: 100%;
			transition: all ease 0.8s;
		}
		&::before {
			display: block;
			content: attr(data-num);
			transition: all ease 0.8s;
		}
	}
	&_active {
		& .advantages {
			&__num-count {
				&::before,
				&::after {
					transform: translateY(-100%);
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.advantages {
		&__wrapper {
			grid-template-columns: 1fr 1fr;
		}
		&__item {
			min-height: 0;
			transform: none !important;
		}
	}
}

@media screen and (max-width: 570px) {
	.advantages {
		&__wrapper {
			display: flex;
			flex-direction: column;
		}
		&__item {
			align-items: center;
			text-align: center;
		}
	}
}
