.calculator__wrapper {
  width: 100%;
  max-width: 1096px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 48px;
  background-color: var(--black-2);
}

.calculator__title {
  text-align: center;
  font-family: "VK Sans Display Expanded";
  margin-bottom: 40px;
}

.calculator__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 100%;
}

.calculator__form {
  width: 100%;
  max-width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.calculator__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.calculator__results-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}

.calculator__results-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.calculator__results-bottom {
  padding: 35px 32px;
  background-color: var(--blue-2);
  border-radius: 25px;
  color: var(--black);
  text-align: center;
}

.calculator__results-num {
  font-size: 70px;
  line-height: 100%;
  margin-top: 10px;
}

.calculator__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  width: 100%;
  max-width: 355px;
}

.calculator__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 12px;
  border: 1.6px solid #959595;
  border-radius: 100px;
  color: #959595;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.calculator__btn_active {
  color: var(--black);
  background-color: var(--blue-2);
  border-color: transparent;
}

.calculator__range {
  margin-top: 20px;
}

.calculator__input {
  width: 100%;
  max-width: 355px;
  border-radius: 100px;
  padding: 12px;
  border: 1.6px solid #959595;
  border-radius: 100px;
  color: #959595;
  background-color: transparent;
  text-align: center;
}

.range-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  --cui-range-slider-track-in-range-bg: var(--blue-2);
}

.range-slider-inputs-container {
  position: relative;
}

.range-slider-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.range-slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--blue-2);
  border: 6px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
  height: 22px;
  pointer-events: all;
  width: 22px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.range-slider-track {
  height: 14px;
  border-radius: 50px;
  width: 100%;
  background-color: var(--white);
  cursor: pointer;
}

.range-slider-tooltip {
  display: none;
}

.range-slider-labels-container {
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 8px;
}

.range-slider-label {
  font-size: 16px;
  font-weight: 500;
  color: #959595;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
}

.range-slider-label:hover {
  color: var(--white);
}

@media screen and (max-width: 1024px) {
  .calculator__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .calculator__form {
    max-width: none;
  }
  .calculator__results {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .calculator__results-bottom {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
  .calculator__results-img {
    max-width: 500px;
  }
}

@media screen and (max-width: 570px) {
  .calculator__wrapper {
    width: auto;
    margin: 0 -24px;
    padding: 24px;
    padding-top: 40px;
    border-radius: 40px;
  }
  .calculator__subtitle {
    text-align: center;
    margin-bottom: 20px;
  }
  .calculator__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .calculator__btns {
    max-width: none;
  }
  .calculator__input {
    max-width: none;
  }
  .calculator__item-title {
    font-size: 24px;
    line-height: 110%;
  }
  .calculator__form {
    gap: 40px;
  }
  .calculator__results-bottom {
    padding: 24px;
    border-radius: 19px;
  }
  .calculator__results-num {
    font-size: 56px;
    line-height: 100%;
  }
  .range-slider-label {
    font-size: 10px;
    line-height: 100%;
  }
}
