.calculator {
	&__wrapper {
		width: 100%;
		max-width: 1096px;
		margin: 0 auto;
		padding: 40px;
		border-radius: 48px;
		background-color: var(--black-2);
	}
	&__title {
		text-align: center;
		font-family: "VK Sans Display Expanded";
		margin-bottom: 40px;
	}
	&__body {
		display: flex;
		gap: 40px;
		width: 100%;
	}
	&__form {
		width: 100%;
		max-width: 580px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	&__results {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
	}
	&__results-img {
		display: flex;
		width: 100%;
		max-width: 295px;
		height: auto;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
	&__results-bottom {
		padding: 20px;
		border-radius: 25px;
		color: var(--black);
		text-align: center;
		position: relative;
		z-index: 1;
		width: 395px;
		max-width: 100%;
		height: 130px;
		user-select: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0px;

		&_open {
			& .calculator {
				&__results-bottom-bg {
					& picture {
						&:nth-child(1) {
							display: none;
						}
						&:nth-child(2) {
							display: block;
						}
					}
				}
				&__results-tooltip-body {
					display: block;
				}
				&__results-num {
					display: none;
				}
				&__results-label {
					display: none;
				}
			}
		}
	}
	&__results-tooltip-body {
		display: none;
		color: var(--white);
		text-align: left;
		padding-right: 24px;
	}
	&__results-num {
		font-size: 60px;
		line-height: 100%;
	}
	&__results-bottom-bg {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		top: 0px;
		left: 0px;
		z-index: -1;
		& img {
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: contain;
		}
		& picture {
			display: flex;
			width: 100%;
			height: 100%;
			&:nth-child(2) {
				display: none;
			}
		}
	}
	&__results-bottom-tooltip {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		z-index: 2;
		top: 0px;
		right: 0px;
		background-color: var(--blue-2);
	}
	&__row {
		display: flex;
		gap: 20px;
		align-items: center;
	}
	&__btns {
		display: flex;
		align-items: center;
		gap: 14px;
		width: 100%;
		max-width: 420px;
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		cursor: pointer;
		padding: 12px;
		border: 1.6px solid #959595;
		border-radius: 100px;
		color: #959595;
		transition: all ease 0.5s;

		&_active {
			color: var(--black);
			background-color: var(--blue-2);
			border-color: transparent;
		}
	}
	&__range {
		margin-top: 20px;
	}
	&__input {
		width: 100%;
		border-radius: 100px;
		padding: 12px;
		border: 1.6px solid #959595;
		border-radius: 100px;
		// color: #959595;
		color: var(--white);
		background-color: transparent;
		text-align: center;
		transition: all ease 0.5s;

		&:focus {
			&::placeholder {
				color: transparent;
			}
		}

		&_error {
			border-color: var(--red);
			& ~ .calculator {
				&__input-error {
					opacity: 1;
				}
			}
		}
		&_grey {
			color: #959595;
		}
	}
	&__input-container {
		width: 100%;
		max-width: 405px;
		position: relative;
	}
	&__input-error {
		text-align: center;
		color: var(--red);
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: fit-content;
		transition: all ease 0.5s;
		opacity: 0;
	}
}

.range-slider {
	display: flex;
	flex-direction: column;
	--cui-range-slider-track-in-range-bg: var(--blue-2);
	&-inputs-container {
		position: relative;
	}
	&-input {
		appearance: none;
		background-color: transparent;
		pointer-events: none;
		position: absolute;
		width: 100%;
		z-index: 1;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			background-color: var(--blue-2);
			border: 6px solid var(--white);
			border-radius: 50%;
			cursor: pointer;
			height: 22px;
			pointer-events: all;
			width: 22px;
			transform: translateY(-4px);
		}
	}
	&-track {
		height: 14px;
		border-radius: 50px;
		width: 100%;
		background-color: var(--white);
		cursor: pointer;
	}
	&-tooltip {
		display: none;
	}
	&-labels-container {
		// height: auto !important;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: space-between;
		position: relative;
		order: -1;
		margin: 0 10px;
		margin-bottom: 8px;
		// margin-bottom: 30px;
	}
	&-label {
		position: absolute;
		transform: translateX(-50%);
		display: flex;
		width: fit-content;
		font-size: 16px;
		font-weight: 500;
		color: #959595;
		transition: all ease 0.5s;
		cursor: pointer;
		top: 0;

		max-width: calc(107% / 7);

		&:hover {
			color: var(--white);
		}
	}
}

@media screen and (max-width: 1024px) {
	.calculator {
		&__body {
			flex-direction: column;
		}
		&__form {
			max-width: none;
		}
		&__results {
			align-items: center;
			gap: 20px;
		}
		&__results-bottom {
			order: -1;
		}
		&__results-img {
			max-width: 500px;
		}
	}
}

@media screen and (max-width: 570px) {
	.calculator {
		&__wrapper {
			width: auto;
			margin: 0 -24px;
			padding: 24px;
			padding-top: 40px;
			border-radius: 40px;
		}
		&__input-error {
			position: static;
		}
		&__subtitle {
			text-align: center;
			margin-bottom: 10px;
		}
		&__row {
			flex-direction: column;
			gap: 10px;
			align-items: flex-start;

			// &_mob {
			// 	flex-direction: column;
			// 	gap: 20px;
			// 	align-items: flex-start;
			// }
		}
		&__results-img {
			display: none;
		}
		&__btns {
			max-width: none;
		}
		&__input-container {
			max-width: none;
		}
		&__item-title {
			font-size: 20px;
			line-height: 110%;
		}
		&__form {
			gap: 20px;
		}
		&__results-bottom {
			padding: 24px;
			border-radius: 19px;
		}
		&__results-num {
			font-size: 56px;
			line-height: 100%;
		}
		&__title {
			margin-bottom: 30px;
		}
		&__body {
			gap: 30px;
		}
	}

	.range-slider {
		&-label {
			font-size: 10px;
			line-height: 100%;
			max-width: 30px;
		}
	}
}

@media screen and (max-width: 440px) {
	.calculator {
		&__results-bottom {
			width: 312px;
			height: 160px;
			padding: 15px 20px;
			padding-right: 35px;
			// &_open {
			// 	height: 160px;
			// }
		}
		&__results-tooltip-body {
			padding: 0;
		}
		&__results-label {
			font-size: 18px;
		}
	}
}
