.shops-steps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}

.shops-steps__title {
  margin-bottom: 80px;
  font-family: "VK Sans Display Expanded";
}

.shops-steps__body {
  padding: 32px;
  background-color: #202020;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 350px;
  position: relative;
}

.shops-steps__subtitle {
  margin-bottom: auto;
  color: #00d3e6;
}

.shops-steps__list-title {
  margin-bottom: 30px;
}

.shops-steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.shops-steps__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shops-steps__list-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shops-steps__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.shops-steps__card {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
}

.shops-steps__card-body {
  padding: 32px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #202020;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.shops-steps__card-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #000;
  background-color: #00d3e6;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.shops-steps__card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: -80px;
  background-color: #83f5ff;
}

.shops-steps__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right center;
     object-position: right center;
}

.shops-steps__btn {
  margin-top: 80px;
}

.shops-steps__arrow {
  display: none;
}

.shops-steps__arrow svg {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

@media screen and (max-width: 1350px) {
  .shops-steps__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .shops-steps__body {
    max-width: none;
  }
  .shops-steps__body_hide .shops-steps__body-panel {
    max-height: 0;
  }
  .shops-steps__body_hide .shops-steps__arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .shops-steps__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shops-steps__arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .shops-steps__list-title {
    margin-top: 18px;
  }
  .shops-steps__body-panel {
    overflow: hidden;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    max-height: 240px;
  }
}

@media screen and (max-width: 1024px) {
  .shops-steps__cards-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shops-steps__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .shops-steps__card-num {
    top: unset;
    left: unset;
    bottom: 10px;
    right: 10px;
    border: 1px solid #83f5ff;
  }
  .shops-steps__card-img {
    margin: 0;
    margin-bottom: -30px;
    margin-left: -30px;
    z-index: -1;
    width: 100%;
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .shops-steps__card-img {
    max-width: 250px;
  }
}

@media screen and (max-width: 570px) {
  .shops-steps__title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: normal;
    max-width: 300px;
  }
  .shops-steps__btn {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    line-height: 120%;
  }
  .shops-steps__card-img {
    max-width: 250px;
  }
  .shops-steps__card-num {
    font-size: 15px;
    line-height: 100%;
    width: 23px;
    height: 23px;
    bottom: 8px;
    right: 6px;
  }
  .shops-steps__card-name {
    font-size: 16px;
    line-height: 110%;
  }
  .shops-steps__card-desc {
    font-size: 10px;
    line-height: 120%;
    max-width: 135px;
  }
  .shops-steps__card-body {
    padding: 20px;
  }
  .shops-steps__cards-list {
    gap: 10px;
  }
  .shops-steps__card-img {
    max-width: 135px;
    margin-left: -20px;
    margin-bottom: 0px;
  }
  .shops-steps__body {
    padding: 18px;
  }
  .shops-steps__subtitle {
    font-size: 16px;
    line-height: 110%;
  }
  .shops-steps__list-title {
    font-size: 14px;
    line-height: 120%;
  }
  .shops-steps__list {
    font-size: 12px;
    line-height: 140%;
    gap: 12px;
  }
  .shops-steps__list-item-icon svg {
    width: 32px;
    height: 32px;
  }
}
