.shops-examples__title {
  margin-bottom: 70px;
  font-family: "VK Sans Display Expanded";
}

.shops-examples__btn {
  width: 100%;
  max-width: 350px;
}

.shops-examples__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.shops-examples__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.shops-examples__slider {
  width: 100%;
  max-width: 440px;
  height: auto;
  aspect-ratio: 0.7121;
  border-radius: 46px;
  border: 9px solid #232323;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.shops-examples__wrapper {
  width: 100%;
  max-width: calc(1160px - 130px);
  position: relative;
  margin: 0 auto;
}

.shops-examples__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  height: 510px;
  position: absolute;
  z-index: 5;
  top: -100px;
  right: 50px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.shops-examples__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.shops-examples__slider-author {
  position: absolute;
  top: 16px;
  left: -130px;
  width: 100%;
  max-width: 540px;
  border-radius: 30px;
  border: 1.5px solid #008b9866;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  overflow: hidden;
}

.shops-examples__slider-author .swiper-slide {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.shops-examples__slider-author .swiper-slide:not(.swiper-slide-active) {
  opacity: 0;
}

.shops-examples__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px;
}

.shops-examples__author-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(0, 211, 230, 0.36);
  margin-bottom: 20px;
  padding: 0 12px 15px;
}

.shops-examples__author-photo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 92px;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  overflow: hidden;
}

.shops-examples__author-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.shops-examples__author-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.shops-examples__author-photo svg {
  position: absolute;
  z-index: 2;
  top: -6px;
  right: -2px;
}

.shops-examples__author-name {
  font-family: "VK Sans Display Expanded";
}

.shops-examples__author-subscribers {
  color: #00dff4;
  margin-top: 4px;
}

.shops-examples__author-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shops-examples__author-label {
  width: 100%;
  max-width: 130px;
}

.shops-examples__author-money {
  font-family: "VK Sans Display Expanded";
}

.shops-examples__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 520px;
  z-index: 2;
  pointer-events: none;
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.shops-examples__navigation-btn {
  pointer-events: all;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #5a5a5a33;
  cursor: pointer;
  border: 1px solid #ffffff44;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.shops-examples__pagination {
  margin-top: 13px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.shops-examples__slider-product {
  border-radius: 21px;
  border: 1px solid #00d3e6;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  width: 100%;
  max-width: 330px;
  position: absolute;
  bottom: 140px;
  right: 0px;
  z-index: 3;
  background-color: #0000004d;
  overflow: hidden;
}

.shops-examples__slider-product .swiper-slide {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.shops-examples__slider-product .swiper-slide:not(.swiper-slide-active) {
  opacity: 0;
}

.shops-examples__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 13px;
}

.shops-examples__product-btn {
  font-size: 15px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 5px;
  border: 1.6px solid #fff;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 9px;
}

.shops-examples__product-btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shops-examples__product-price {
  margin-top: 2px;
  line-height: 100%;
}

.shops-examples__product-name {
  line-height: 100%;
}

.shops-examples__product-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 80px;
  width: 80px;
  height: 80px;
  border-radius: 9px;
  overflow: hidden;
}

.shops-examples__product-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.shops-examples__btn {
  margin-top: -60px;
  position: relative;
  z-index: 5;
}

@media screen and (min-width: 1300px) {
  .shops-examples__wrapper {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .shops-examples__btn {
    margin-top: -160px;
  }
}

@media screen and (max-width: 1280px) {
  .shops-examples__btn {
    margin: 0 auto;
    margin-top: 20px;
  }
  .shops-examples__bg {
    display: none;
  }
  .shops-examples__video {
    -webkit-transform: none;
            transform: none;
    margin: 0 auto;
  }
  .shops-examples__pagination {
    -webkit-transform: none;
            transform: none;
    margin: 0 auto;
    margin-top: 10px;
  }
  .shops-examples__navigation {
    left: 50%;
    bottom: 42%;
  }
  .shops-examples__slider-product {
    right: unset;
    left: 50%;
    bottom: 70px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .shops-examples__slider-author {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 0px;
  }
  .shops-examples__wrapper {
    padding: 160px 25px 0;
  }
  .shops-examples__slider {
    margin: 0 auto;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (max-width: 570px) {
  .shops-examples__title {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 120%;
  }
  .shops-examples__slider-author {
    border-radius: 20px;
  }
  .shops-examples__author {
    padding: 10px 15px;
  }
  .shops-examples__author-photo-img {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
  .shops-examples__author-photo svg {
    width: 18px;
    height: 18px;
  }
  .shops-examples__author-top {
    gap: 10px;
    padding: 0 9px 6px;
    margin-bottom: 5px;
  }
  .shops-examples__name {
    font-size: 14px;
    line-height: 120%;
  }
  .shops-examples__author-subscribers {
    font-size: 12px;
    line-height: 120%;
  }
  .shops-examples__author-label {
    font-size: 10px;
    line-height: 120%;
  }
  .shops-examples__author-money {
    font-size: 20px;
    line-height: 120%;
  }
  .shops-examples__author-bottom {
    padding: 0px 9px;
  }
  .shops-examples__video {
    border-width: 6px;
    border-radius: 30px;
  }
  .shops-examples__wrapper {
    padding: 70px 18px 0;
  }
  .shops-examples__navigation-btn {
    width: 40px;
    height: 40px;
    border-radius: 13px;
  }
  .shops-examples__navigation-btn svg {
    width: 26px;
    height: 26px;
  }
  .shops-examples__btn {
    font-size: 20px;
    line-height: 100%;
    width: 100%;
  }
  .shops-examples__slider-product {
    max-width: 215px;
    border-radius: 14px;
  }
  .shops-examples__product {
    padding: 8px;
    gap: 12px;
  }
  .shops-examples__product-img {
    width: 52px;
    min-width: 52px;
    height: 52px;
  }
  .shops-examples__product-name {
    font-size: 11px;
    line-height: 110%;
  }
  .shops-examples__product-price {
    font-size: 15px;
    line-height: 100%;
  }
  .shops-examples__product-btn {
    font-size: 10px;
    line-height: 100%;
    padding: 2px 4px;
    margin-top: 3px;
  }
  .shops-examples__product-btn-icon svg {
    width: 13px;
    height: 13px;
  }
}
