.advices__title {
  font-family: "VK Sans Display Expanded";
  margin-bottom: 72px;
  text-align: center;
}

.advices__wrapper {
  width: 100%;
  max-width: 1096px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.advices__bottom {
  margin: 0 auto;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 48px;
  background-color: var(--blue-2);
  padding: 40px;
  color: var(--black);
  width: 100%;
  max-width: 1096px;
}

.advices__bottom-title {
  font-size: 32px;
  line-height: 100%;
  font-weight: 600;
  font-family: "VK Sans Display Expanded";
}

.advices__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 240px;
  margin-bottom: 26px;
}

.advices__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.advices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 30px 40px;
  border-radius: 48px;
  background-color: var(--black-2);
}

.advices__name {
  margin-bottom: 30px;
  color: var(--blue-2);
  text-align: center;
  font-family: "VK Sans Display Expanded";
  font-size: 34px;
  font-weight: 600;
  line-height: normal;
}

.advices__list {
  margin-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.advices__list-item {
  padding-left: 35px;
  position: relative;
  font-size: 22px;
  line-height: normal;
}

.advices__list-item::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--blue-1);
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.advices__btn {
  margin-top: auto;
}

@media screen and (max-width: 1024px) {
  .advices__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advices__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 46px;
  }
  .advices__img {
    height: 220px;
  }
}

@media screen and (max-width: 570px) {
  .advices__wrapper {
    margin: 0 -24px;
    width: auto;
    gap: 20px;
  }
  .advices__bottom {
    margin: 20px -24px 0;
    width: auto;
    padding: 40px 24px 24px;
    border-radius: 40px;
  }
  .advices__bottom-btn {
    width: 100%;
  }
  .advices__bottom-title {
    text-align: center;
    font-size: 26px;
    line-height: normal;
    max-width: 286px;
  }
  .advices__item {
    padding: 24px;
    border-radius: 40px;
  }
  .advices__name {
    font-size: 26px;
  }
  .advices__list-item {
    font-size: 20px;
  }
  .advices__title {
    max-width: 325px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
