.backpack-link {
  position: fixed;
  bottom: 75px;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}

.backpack-link__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 24px;
  margin-left: auto;
  position: relative;
  z-index: 1;
  pointer-events: all;
}

.backpack-link__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  max-width: 360px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  padding-left: 17px;
  background-image: url("/public/img/backpack-link/bg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "VK Sans Display Condensed";
  font-weight: 600;
  font-style: italic;
  font-size: 41.09px;
  line-height: 100%;
  letter-spacing: 0%;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
}

.backpack-link__title {
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 17px;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.backpack-link__currency {
  font-size: 46px;
  line-height: 100%;
  color: var(--blue-1);
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 26px;
}

.backpack-link__currency svg path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: lineAnimShow 0.5s ease-in-out forwards;
          animation: lineAnimShow 0.5s ease-in-out forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.backpack-link__currency-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.backpack-link__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
  height: auto;
  position: absolute;
  bottom: 45%;
  right: 0%;
  z-index: -1;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  zoom: 1;
}

.backpack-link__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  -webkit-animation: backpackAnim 2s ease-in-out infinite;
          animation: backpackAnim 2s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.backpack-link__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.backpack-link_hide .backpack-link__currency-text {
  opacity: 0;
  zoom: 0.5;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.backpack-link_hide .backpack-link__currency svg path {
  -webkit-animation: lineAnimHide 0.5s ease-in-out forwards;
          animation: lineAnimHide 0.5s ease-in-out forwards;
}

.backpack-link_hide .backpack-link__title {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0.5;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.backpack-link_hide .backpack-link__arrow {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.backpack-link_hide .backpack-link__panel {
  -webkit-transform: translateY(calc(100% + 75px));
          transform: translateY(calc(100% + 75px));
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.backpack-link_hide .backpack-link__img {
  zoom: 1.3;
  bottom: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.backpack-link_hide .backpack-link__img img {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes backpackAnim {
  0% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}

@keyframes backpackAnim {
  0% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
}

@-webkit-keyframes lineAnimHide {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 300;
  }
}

@keyframes lineAnimHide {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 300;
  }
}

@-webkit-keyframes lineAnimShow {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineAnimShow {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 570px) {
  .backpack-link {
    bottom: 30px;
  }
  .backpack-link__wrapper {
    padding-right: 2px;
  }
  .backpack-link__panel {
    padding: 7px;
    padding-left: 11px;
  }
  .backpack-link__img {
    width: 60px;
    right: -2%;
  }
  .backpack-link__title {
    font-size: 26px;
    line-height: 100%;
    margin-right: 11px;
  }
  .backpack-link__currency {
    font-size: 30px;
    line-height: 100%;
    margin-right: 16px;
  }
  .backpack-link__currency svg {
    width: 50px;
    height: 46px;
  }
  .backpack-link__arrow svg {
    width: 22px;
    height: 22px;
  }
}
