.cards-slider {
	&__heading {
		display: flex;
		flex-direction: column;
		gap: 48px;
		align-items: center;
		width: 100%;
		max-width: 1096px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	&__title {
		text-align: center;
		font-family: "VK Sans Display Expanded";
	}
	&__list {
		display: flex;
		justify-content: center;
		gap: 24px;
	}
	&__list-item {
		position: relative;
		z-index: 2;
		flex-shrink: 0;

		&_open {
			& .cards-slider {
				&__list-item-body {
					border-color: var(--blue-2);
				}
				&__list-tooltip-body {
					bottom: calc(100% + 10px);
					opacity: 1;
				}
				&__list-tooltip {
					background-color: var(--blue-2);
					color: var(--black-2);
				}
			}
		}
	}
	&__list-item-bg {
		display: none;
	}
	&__list-item-body {
		padding: 15px 24px;
		border-radius: 18px;
		background-color: var(--black-2);
		display: flex;
		align-items: center;
		gap: 20px;
		height: fit-content;
		// border: 2px solid transparent;
		transition: all ease 0.5s;

		&_bg {
			background: none;
			padding-right: 62px;
			& .cards-slider {
				&__list-item-bg {
					display: flex;
					position: absolute;
					top: 0px;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: -1;
					& img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	&__list-icon {
		display: flex;
		min-width: 40px;
		width: 40px;
		height: 40px;
	}
	&__list-tooltip-body {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		border-radius: 18px;
		padding: 24px 32px 30px;
		background-color: var(--black-2);
		z-index: -2;
		transition: all ease 0.5s;
		overflow: hidden;
		opacity: 0;
		border: 2px solid #7cedf8;
		&::after {
			display: block;
			content: "";
			// height: 80px;
		}
	}

	&__list-tooltip {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: var(--black-2);
		color: var(--white);
		transition: all ease 0.5s;
	}
	&__slide {
		display: flex;
		width: 100%;
		height: auto;
		aspect-ratio: 0.86;
		max-width: 270px;

		// overflow: hidden;
	}
	&__slider {
		overflow: visible;
	}
	&__slide-img {
		width: 100%;
		height: 100%;
		border-radius: 30px;
		overflow: hidden;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}
	& .swiper-wrapper {
		transition-timing-function: linear;
	}
}

@media screen and (max-width: 1440px) {
	.cards-slider {
		&__list {
			width: fit-content;
			margin-left: auto;
			margin-right: auto;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}
}
@media screen and (max-width: 1024px) {
	.cards-slider {
		&__list {
			display: flex;
			gap: 10px;
			flex-direction: column;
			margin-top: -25px;
			max-width: 395px;
		}
		&__list-item {
			&:nth-child(2) {
				order: -1;
			}
		}
		&__list-item-body {
			// padding: 24px;
		}
		&__slide {
			max-width: 200px;
		}
		&__slide-img {
			border-radius: 20px;
		}
	}
}

@media screen and (max-width: 570px) {
	.cards-slider {
		&__btn {
			width: 100%;
		}
		&__heading {
			margin-bottom: 45px;
			gap: 40px;
		}
		&__list-tooltip {
			&::after {
				display: block;
				content: "";
				width: 200%;
				height: 200%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__list-item {
			width: 100%;
			flex-shrink: unset;
		}
		&__list-item-bg {
			& img {
				object-position: center;
				object-fit: fill;
			}
		}
		&__list-item-body {
			width: 100%;
		}
	}
}

@media screen and (max-width: 450px) {
	.cards-slider {
		&__list {
			max-width: 312px;
		}
		&__list-item-body {
			padding: 25px 18px;
			&_bg {
				padding-right: 52px;
				& br {
					display: none;
				}
			}
		}
	}
}
