.cards-slider__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1096px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.cards-slider__title {
  text-align: center;
  font-family: "VK Sans Display Expanded";
}

.cards-slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.cards-slider__list-item {
  position: relative;
  z-index: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cards-slider__list-item_open .cards-slider__list-item-body {
  border-color: var(--blue-2);
}

.cards-slider__list-item_open .cards-slider__list-tooltip-body {
  bottom: calc(100% + 10px);
  opacity: 1;
}

.cards-slider__list-item_open .cards-slider__list-tooltip {
  background-color: var(--blue-2);
  color: var(--black-2);
}

.cards-slider__list-item-bg {
  display: none;
}

.cards-slider__list-item-body {
  padding: 15px 24px;
  border-radius: 18px;
  background-color: var(--black-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.cards-slider__list-item-body_bg {
  background: none;
  padding-right: 62px;
}

.cards-slider__list-item-body_bg .cards-slider__list-item-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cards-slider__list-item-body_bg .cards-slider__list-item-bg img {
  width: 100%;
  height: 100%;
}

.cards-slider__list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40px;
  width: 40px;
  height: 40px;
}

.cards-slider__list-tooltip-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 18px;
  padding: 24px 32px 30px;
  background-color: var(--black-2);
  z-index: -2;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  overflow: hidden;
  opacity: 0;
  border: 2px solid #7cedf8;
}

.cards-slider__list-tooltip-body::after {
  display: block;
  content: "";
}

.cards-slider__list-tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--black-2);
  color: var(--white);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.cards-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  aspect-ratio: 0.86;
  max-width: 270px;
}

.cards-slider__slider {
  overflow: visible;
}

.cards-slider__slide-img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.cards-slider__slide-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.cards-slider .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

@media screen and (max-width: 1440px) {
  .cards-slider__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .cards-slider__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -25px;
    max-width: 395px;
  }
  .cards-slider__list-item:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .cards-slider__slide {
    max-width: 200px;
  }
  .cards-slider__slide-img {
    border-radius: 20px;
  }
}

@media screen and (max-width: 570px) {
  .cards-slider__btn {
    width: 100%;
  }
  .cards-slider__heading {
    margin-bottom: 45px;
    gap: 40px;
  }
  .cards-slider__list-tooltip::after {
    display: block;
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 450px) {
  .cards-slider__list {
    max-width: 312px;
  }
  .cards-slider__list-item-body {
    padding: 25px 18px;
  }
  .cards-slider__list-item-body_bg {
    padding-right: 52px;
  }
  .cards-slider__list-item-body_bg br {
    display: none;
  }
}
