.accordion {
	&__item {
		padding: 38px 0;

		&:not(:first-child) {
			border-top: 1px solid var(--grey-1);
		}
		&:not(:last-child) {
			border-bottom: 1px solid var(--grey-1);
		}

		&_open {
			& > .accordion__btn .accordion {
				&__caret {
					&::after {
						transform: translate(-50%, -50%);
					}
				}
			}
		}
		&_without-text {
			& .accordion {
				&__caret {
					display: none;
				}
				&__body {
					display: none;
				}
				&__btn {
					cursor: auto;
					font-size: 26px;
					& a {
						color: var(--blue-1);
					}
				}
			}
		}
	}
	&__body {
		margin-left: 36px;
		position: relative;
		max-width: 700px;
		overflow: hidden;
		transition: all ease 0.5s;
		cursor: auto;
		max-height: 0;
		&::before {
			display: block;
			content: "";
			height: 24px;
			width: 100%;
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		gap: 12px;
		user-select: none;
		cursor: pointer;
	}
	&__caret {
		display: flex;
		min-width: 24px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: var(--black-2);
		position: relative;
		justify-content: center;
		align-items: center;

		&::before {
			display: block;
			content: "";
			width: 12px;
			height: 1px;
			background-color: #7c8a9a;
		}
		&::after {
			display: block;
			content: "";
			width: 12px;
			height: 1px;
			background-color: #7c8a9a;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(90deg);
			transition: all ease 0.5s;
		}
	}
}
