.shops-entrance__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shops-entrance__body {
  width: 100%;
  max-width: 590px;
}

.shops-entrance__title {
  margin-bottom: 40px;
}

.shops-entrance__desc {
  margin-bottom: 40px;
}

.shops-entrance__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 339fr 13fr 220fr;
      grid-template-columns: 339fr 13fr 220fr;
  gap: 10px;
  margin-top: 70px;
}

.shops-entrance__list-item {
  position: relative;
  z-index: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.shops-entrance__list-item:nth-child(2), .shops-entrance__list-item:nth-child(3) {
  grid-column: span 2;
}

.shops-entrance__list-item_open .shops-entrance__list-item-body {
  border-color: var(--blue-2);
}

.shops-entrance__list-item_open .shops-entrance__list-tooltip-body {
  bottom: calc(100% + 10px);
  opacity: 1;
}

.shops-entrance__list-item_open .shops-entrance__list-tooltip {
  background-color: var(--blue-2);
  color: var(--black-2);
}

.shops-entrance__list-item-bg {
  display: none;
}

.shops-entrance__list-item-body {
  padding: 15px;
  border-radius: 18px;
  background-color: var(--black-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.shops-entrance__list-item-body_bg {
  background: none;
  padding-right: 47px;
}

.shops-entrance__list-item-body_bg .shops-entrance__list-item-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.shops-entrance__list-item-body_bg .shops-entrance__list-item-bg img {
  width: 100%;
  height: 100%;
}

.shops-entrance__list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40px;
  width: 40px;
  height: 40px;
}

.shops-entrance__list-tooltip-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 18px;
  padding: 24px 32px 30px;
  background-color: var(--black-2);
  z-index: -2;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  overflow: hidden;
  opacity: 0;
  border: 2px solid #7cedf8;
}

.shops-entrance__list-tooltip-body::after {
  display: block;
  content: "";
}

.shops-entrance__list-tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--black-2);
  color: var(--white);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.shops-entrance__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 1.25;
}

.shops-entrance__img-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.shops-entrance__img-item:nth-child(1) {
  top: 54%;
  left: 31.5%;
  height: 90%;
  -webkit-animation: cardsShowLeft 1s ease-out;
          animation: cardsShowLeft 1s ease-out;
}

.shops-entrance__img-item:nth-child(2) {
  top: 54%;
  left: 83%;
  height: 90%;
  -webkit-animation: cardsShowRight 1s ease-out;
          animation: cardsShowRight 1s ease-out;
}

.shops-entrance__img-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.shops-entrance__img-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 60px;
  width: 230px;
  max-width: 32%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
}

.shops-entrance__img-panel img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@-webkit-keyframes cardsShowLeft {
  0% {
    -webkit-transform: translate(-30%, -50%) rotate(10deg);
            transform: translate(-30%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes cardsShowLeft {
  0% {
    -webkit-transform: translate(-30%, -50%) rotate(10deg);
            transform: translate(-30%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes cardsShowRight {
  0% {
    -webkit-transform: translate(-70%, -50%) rotate(-10deg);
            transform: translate(-70%, -50%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes cardsShowRight {
  0% {
    -webkit-transform: translate(-70%, -50%) rotate(-10deg);
            transform: translate(-70%, -50%) rotate(-10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1200px) {
  .shops-entrance__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -25px;
    max-width: 395px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .shops-entrance__body {
    display: contents;
  }
  .shops-entrance__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .shops-entrance__desc {
    text-align: center;
  }
  .shops-entrance__btn {
    margin-bottom: 40px;
  }
  .shops-entrance__img {
    -webkit-transform: translateX(-7%);
            transform: translateX(-7%);
  }
}

@media screen and (max-width: 570px) {
  .shops-entrance__title {
    margin-bottom: 15px;
  }
  .shops-entrance__btn {
    width: 100%;
  }
  .shops-entrance__list-tooltip::after {
    display: block;
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .shops-entrance__list-item {
    width: 100%;
    -ms-flex-negative: unset;
        flex-shrink: unset;
  }
  .shops-entrance__list-item-bg img {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .shops-entrance__list-item-body {
    width: 100%;
  }
  .shops-entrance__img-panel {
    right: 0px;
    max-width: 35%;
  }
}

@media screen and (max-width: 450px) {
  .shops-entrance__list {
    max-width: 312px;
  }
  .shops-entrance__list-item-body {
    padding: 25px 18px;
  }
  .shops-entrance__list-item-body_bg {
    padding-right: 52px;
  }
  .shops-entrance__list-item-body_bg br {
    display: none;
  }
}
