.shops-entrance {
	&__wrapper {
		display: flex;
		align-items: center;
	}
	&__body {
		width: 100%;
		max-width: 590px;
	}
	&__title {
		margin-bottom: 40px;
	}
	&__desc {
		margin-bottom: 40px;
	}
	&__list {
		display: grid;
		grid-template-columns: 339fr 13fr 220fr;
		gap: 10px;
		margin-top: 70px;
	}
	&__list-item {
		position: relative;
		z-index: 2;
		flex-shrink: 0;

		&:nth-child(2),
		&:nth-child(3) {
			grid-column: span 2;
		}

		&_open {
			& .shops-entrance {
				&__list-item-body {
					border-color: var(--blue-2);
				}
				&__list-tooltip-body {
					bottom: calc(100% + 10px);
					opacity: 1;
				}
				&__list-tooltip {
					background-color: var(--blue-2);
					color: var(--black-2);
				}
			}
		}
	}
	&__list-item-bg {
		display: none;
	}
	&__list-item-body {
		padding: 15px;
		border-radius: 18px;
		background-color: var(--black-2);
		display: flex;
		align-items: center;
		gap: 10px;
		height: fit-content;
		// border: 2px solid transparent;
		transition: all ease 0.5s;

		&_bg {
			background: none;
			padding-right: 47px;
			& .shops-entrance {
				&__list-item-bg {
					display: flex;
					position: absolute;
					top: 0px;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: -1;
					& img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
	&__list-icon {
		display: flex;
		min-width: 40px;
		width: 40px;
		height: 40px;
	}
	&__list-tooltip-body {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		border-radius: 18px;
		padding: 24px 32px 30px;
		background-color: var(--black-2);
		z-index: -2;
		transition: all ease 0.5s;
		overflow: hidden;
		opacity: 0;
		border: 2px solid #7cedf8;
		&::after {
			display: block;
			content: "";
			// height: 80px;
		}
	}

	&__list-tooltip {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		background-color: var(--black-2);
		color: var(--white);
		transition: all ease 0.5s;
	}
	&__img {
		display: flex;
		position: relative;
		z-index: 1;
		width: 100%;
		height: auto;
		aspect-ratio: 1.25;
	}
	&__img-item {
		display: flex;
		position: absolute;
		height: 100%;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		&:nth-child(1) {
			top: 54%;
			left: 31.5%;
			height: 90%;
			animation: cardsShowLeft 1.5s cubic-bezier(0.54, 0.02, 0.15, 1);
		}
		&:nth-child(2) {
			top: 54%;
			left: 83%;
			height: 90%;
			animation: cardsShowRight 1.5s cubic-bezier(0.54, 0.02, 0.15, 1);
		}

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
	&__img-panel {
		display: flex;
		position: absolute;
		bottom: 30px;
		right: 60px;
		width: 230px;
		max-width: 32%;
		height: fit-content;
		z-index: 3;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
}

@keyframes cardsShowLeft {
	0% {
		transform: translate(-30%, -50%) rotate(10deg);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes cardsShowRight {
	0% {
		transform: translate(-70%, -50%) rotate(-10deg);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 1200px) {
	.shops-entrance {
		&__list {
			display: flex;
			flex-direction: column;
			margin-top: -25px;
			max-width: 395px;
			order: 5;
		}
		&__body {
			display: contents;
		}
		&__wrapper {
			flex-direction: column;
		}
		&__desc {
			text-align: center;
		}
		&__btn {
			margin-bottom: 40px;
		}
		&__img {
			transform: translateX(-7%);
		}
	}
}

@media screen and (max-width: 570px) {
	.shops-entrance {
		&__title {
			margin-bottom: 15px;
		}
		&__btn {
			width: 100%;
		}
		&__list-tooltip {
			&::after {
				display: block;
				content: "";
				width: 200%;
				height: 200%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__list-item {
			width: 100%;
			flex-shrink: unset;
		}
		&__list-item-bg {
			& img {
				object-position: center;
				object-fit: fill;
			}
		}
		&__list-item-body {
			width: 100%;
		}
		&__img-panel {
			right: 0px;
			max-width: 35%;
		}
	}
}

@media screen and (max-width: 450px) {
	.shops-entrance {
		&__list {
			max-width: 312px;
		}
		&__list-item-body {
			padding: 25px 18px;
			&_bg {
				padding-right: 52px;
				& br {
					display: none;
				}
			}
		}
	}
}
