.footer {
  padding: 32px 0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--black-2);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.footer__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  color: var(--grey-1);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  padding-top: 32px;
  border-top: 1px solid var(--black-2);
}

.footer__title {
  margin-bottom: 12px;
}

.footer__wrapper {
  padding: 32px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.footer .nav__caret {
  display: none;
}

.footer .nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 24px;
  row-gap: 32px;
}

.footer .nav__submenu {
  overflow: hidden;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer .nav__submenu::before {
  display: block;
  content: "";
  width: 100%;
  height: 12px;
}

.footer .nav__link {
  cursor: pointer;
}

.footer .nav__link_lvl2 {
  color: var(--white-2);
}

.footer .nav__item_lvl2:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
  .footer__bottom-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__bottom-item {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 1024px) {
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .nav__list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }
  .footer .nav__item_lvl1 {
    position: relative;
  }
  .footer .nav__item_open .nav__caret::after {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .footer .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
  }
  .footer .nav__caret {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--black-2);
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 2px;
    right: 0;
  }
  .footer .nav__caret::before {
    display: block;
    content: "";
    width: 12px;
    height: 1px;
    background-color: #7c8a9a;
  }
  .footer .nav__caret::after {
    display: block;
    content: "";
    width: 12px;
    height: 1px;
    background-color: #7c8a9a;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
            transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .footer .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .footer .nav__link_lvl1 {
    margin-right: 30px;
  }
}
