.adventages__title {
  margin-bottom: 72px;
}
.adventages__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}
.adventages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 265px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  padding: 24px 32px;
  background-color: var(--black-2);
}
.adventages__desc {
  margin-top: auto;
}
.adventages__desc a {
  text-decoration: underline;
}
.adventages__num span {
  display: block;
  margin-top: 4px;
}

@media screen and (max-width: 1200px) {
  .adventages__wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .adventages__item {
    min-height: 0;
  }
}
@media screen and (max-width: 570px) {
  .adventages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adventages__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}